@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(1px);
  }
}

/* Show state */
.show {
  animation: slideUp 0.3s ease-out forwards;
}

/* Hide state */

@keyframes growAndFadeIn {
  0% {
    transform: scale(0.2); /* Start with smaller size */
    opacity: 0; /* Start with invisible text */
  }
  100% {
    transform: scale(1); /* End with normal size */
    opacity: 1; /* End with full opacity */
  }
}

.text-animate {
  animation: growAndFadeIn 0.5s ease-out; /* Apply the animation */
}

.bg-image-homepage {
  background-image: url("../../public/bg-livingroom.jpg");
  height: calc(100vh - 7.3rem);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.bg-image-refer {
  background-image: url("../../public/refer-bg.jpeg");
  /* height: calc(100vh - 7.3rem); */
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.primary-button {
  @apply bg-blue-light px-11 py-5 text-white  text-animate  font-bold uppercase border border-white rounded-md hover:bg-blue-600 transition ease-in duration-200;
}
.heading-2 {
  @apply text-white text-4xl text-center font-bold;
}
